@mixin colorProps {
    --base-color-primary: #b80037;
    --base-color-primary-1: #da0041;
    --base-color-primary-2: #e70d4e;
    --base-color-primary-3: #ee2864;
    --base-color-primary-4: ##fb5889;

    --base-color-secondary: #1254d5;
    --base-color-secondary-1: #1262ff;
    --base-color-secondary-2: #2972ff;
    --base-color-secondary-3: #4987ff;
    --base-color-secondary-4: #699cff;

    --base-color-success: #087b5c;
    --base-color-success-1: #10ac63;
    --base-color-success-2: #17c964;
    --base-color-success-3: #4ade7b;
    --base-color-success-4: #6fee8d;
    --base-color-success-5: #a1f9ac;
    --base-color-success-6: #cffcd1;

    --base-color-info: #154890;
    --base-color-info-1: #2b7cc9;
    --base-color-info-2: #3c9fea;
    --base-color-info-3: #6bbff2;
    --base-color-info-4: #89d5f8;
    --base-color-info-5: #b1e9fc;
    --base-color-info-6: #d8f6fd;

    --base-color-warning: #9d4c1b;
    --base-color-warning-1: #db8637;
    --base-color-warning-2: #ffab4c;
    --base-color-warning-3: #ffc678;
    --base-color-warning-4: #ffd693;
    --base-color-warning-5: #ffe7b7;
    --base-color-warning-6: #fff4db;

    --base-color-danger: #9d1033;
    --base-color-danger-1: #db202d;
    --base-color-danger-2: #ff312d;
    --base-color-danger-3: #ff7161;
    --base-color-danger-4: #ff9881;
    --base-color-danger-5: #ffc2ab;
    --base-color-danger-6: #ffe4d5;

    --base-color-light: #ffffff;
    --base-color-light-1: rgba(255, 255, 255, 0.7);
    --base-color-light-2: rgba(255, 255, 255, 0.5);
    --base-color-light-3: rgba(255, 255, 255, 0.3);
    --base-color-light-4: rgba(255, 255, 255, 0.2);
    --base-color-light-5: rgba(255, 255, 255, 0.1);

    --base-color-dark: #0c0c0c;
    --base-color-dark-1: rgba(0, 0, 0, 0.7);
    --base-color-dark-2: rgba(0, 0, 0, 0.5);
    --base-color-dark-3: rgba(0, 0, 0, 0.3);
    --base-color-dark-4: rgba(0, 0, 0, 0.2);
    --base-color-dark-5: rgba(0, 0, 0, 0.1);

    --base-color-ink: #131a32;
    --base-color-ink-1: #1b2649;
    --base-color-ink-2: #2a3560;
    --base-color-ink-3: #323f73;
    --base-color-ink-4: #3b4b89;
    --base-color-ink-5: #52619e;

    --base-functional-stressful: #ff3131;
    --base-functional-positive: #66c046;
    --base-functional-careful: #ffc82a;
    --base-functional-useful: #2972ff;
    --base-functional-blue-light: #0072f8;
    --base-functional-negative: #e63333;

    --base-color-gradient-ink: linear-gradient(235.06deg, #283666 29.43%, #161e3c 89.74%);

    --base-black: #000000;
    --base-black-1: rgba(0, 0, 0, 0.9);
    --base-black-2: rgba(0, 0, 0, 0.8);
    --base-black-3: rgba(0, 0, 0, 0.7);
    --base-black-4: rgba(0, 0, 0, 0.6);
    --base-black-5: rgba(0, 0, 0, 0.5);
    --base-black-6: rgba(0, 0, 0, 0.4);
    --base-black-7: rgba(0, 0, 0, 0.3);
    --base-black-8: rgba(0, 0, 0, 0.2);
    --base-black-9: rgba(0, 0, 0, 0.1);

    --base-white: #ffffff;
    --base-white-1: rgba(255, 255, 255, 0.9);
    --base-white-2: rgba(255, 255, 255, 0.8);
    --base-white-3: rgba(255, 255, 255, 0.7);
    --base-white-4: rgba(255, 255, 255, 0.6);
    --base-white-5: rgba(255, 255, 255, 0.5);
    --base-white-6: rgba(255, 255, 255, 0.4);
    --base-white-7: rgba(255, 255, 255, 0.3);
    --base-white-8: rgba(255, 255, 255, 0.2);
    --base-white-9: rgba(255, 255, 255, 0.1);
    --base-white-05: rgba(255, 255, 255, 0.05);

    --base-gray: #16181a;
    --base-gray-1: #26292b;
    --base-gray-2: #2b2f31;
    --base-gray-3: #313538;
    --base-gray-4: #3a3f42;
    --base-gray-5: #4c5155;
    --base-gray-6: #697177;
    --base-gray-7: #787f85;
    --base-gray-8: #9ba1a6;
    --base-gray-9: #ecedee;

    --base-transparent: transparent;
}
