.inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.inset-x-0 {
    left: 0px;
    right: 0px;
}
.inset-y-0 {
    top: 0px;
    bottom: 0px;
}
.top-0 {
    top: 0px;
}
.right-0 {
    right: 0px;
}
.bottom-0 {
    bottom: 0px;
}
.left-0 {
    left: 0px;
}
.top-p50 {
    top: 50%;
}
.left-p50 {
    left: 50%;
}
.right-p50 {
    right: 50%;
}
.right-p50 {
    right: 50%;
}

.top-p25 {
    top: 25%;
}
.left-p25 {
    left: 25%;
}
.right-p25 {
    right: 25%;
}
.right-p25 {
    right: 25%;
}

.top-p75 {
    top: 75%;
}
.left-p75 {
    left: 75%;
}
.right-p75 {
    right: 75%;
}
.right-p75 {
    right: 75%;
}

.top-p100 {
    top: 100%;
}
.left-p100 {
    left: 100%;
}
.right-p100 {
    right: 100%;
}
.right-p100 {
    right: 100%;
}
